.showcase {
  background-color: #f0efe9;
  height: 48.75em;
  overflow: hidden;
}
.showcase .showcase-container {
  display: flex;
}
.showcase .showcase-container .showcase-left {
  padding: 7.5em 2em 0 1em;
}
.showcase .showcase-container .showcase-left h1 {
  font-size: 6em;
  font-weight: bold;
}
.showcase .showcase-container .showcase-left p {
  font-size: 1.25em;
  padding-bottom: 3.2em;
}
.showcase .showcase-container .showcase-left .showcase-buttons {
  display: flex;
}
.showcase .showcase-container .showcase-left .showcase-buttons button {
  margin-right: 1em;
}
.showcase .showcase-container .showcase-left .showcase-swirl {
  position: relative;
  pointer-events: none;
}
.showcase .showcase-container .showcase-left .showcase-swirl img {
  position: absolute;
  right: 2em;
  top: -7.6em;
}
.showcase .showcase-container .showcase-right {
  position: relative;
  width: 78em;
}
.showcase .showcase-container .showcase-right img {
  position: absolute;
  top: 3.4em;
  left: -5em;
}
@media screen and (max-width: 1250px) {
  .showcase .showcase-container .showcase-left {
    padding: 4.5em 2em 0 1em;
  }
  .showcase .showcase-container .showcase-left h1 {
    position: relative;
    z-index: 1;
  }
  .showcase .showcase-container .showcase-left .showcase-swirl img {
    right: -32em;
    top: -27.6em;
  }
  .showcase .showcase-container .showcase-left p {
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 1000px) {
  .showcase {
    height: 40em;
  }
  .showcase .showcase-container {
    height: 100%;
  }
  .showcase .showcase-container .showcase-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em 0 2em;
  }
  .showcase .showcase-container .showcase-left h1 {
    font-size: 4em;
    text-align: center;
  }
  .showcase .showcase-container .showcase-left p {
    position: relative;
    z-index: 3;
    text-align: center;
  }
  .showcase .showcase-container .showcase-left .showcase-buttons {
    display: flex;
    justify-content: center;
  }
  .showcase .showcase-container .showcase-left .showcase-buttons button {
    margin-right: 1em;
  }
  .showcase .showcase-container .showcase-left .showcase-swirl {
    position: relative;
  }
  .showcase .showcase-container .showcase-left .showcase-swirl img {
    right: -12em;
    top: -23.6em;
  }
  .showcase .showcase-container .showcase-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .showcase .showcase-container .showcase-left .showcase-buttons {
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  .showcase .showcase-container .showcase-left .showcase-buttons .crito-button {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 400px) {
  .showcase .showcase-container .showcase-left .showcase-buttons {
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  .showcase .showcase-container .showcase-left .showcase-buttons .crito-button {
    margin-bottom: 1em;
  }
}

.partners .partners-brands {
  padding: 4.5em 0 5em 0;
  display: flex;
  justify-content: space-evenly;
}
.partners .partners-model {
  display: flex;
  margin: auto;
  padding: 5em 6.25em 7em;
  max-width: 95em;
  border: #dad9d3 solid 0.0625em;
}
.partners .partners-model .partners-model-left {
  max-width: 28.75em;
}
.partners .partners-model .partners-model-left h1 {
  padding-bottom: 1em;
}
.partners .partners-model .partners-model-right {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 6em;
}
.partners .partners-model .partners-model-right .partners-model-card {
  padding: 2.5em 1.875em;
}
.partners .partners-model .partners-model-right .partners-model-card svg {
  height: 2.5em;
  width: 2.5em;
  padding-bottom: 1.5em;
}
.partners .partners-model .partners-model-right .partners-model-card p {
  color: #a4a4a4;
}
@media screen and (max-width: 1200px) {
  .partners .partners-brands {
    flex-wrap: wrap;
  }
  .partners .partners-brands .partners-brands-logo {
    width: 33%;
    display: flex;
    justify-content: center;
  }
  .partners .partners-brands .partners-brands-logo img {
    width: 100%;
    height: auto;
  }
  .partners .partners-model {
    flex-direction: column;
    align-items: center;
  }
  .partners .partners-model .partners-model-left {
    max-width: 100%;
    padding-bottom: 3em;
  }
  .partners .partners-model .partners-model-right {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .partners .partners-model {
    padding: 2em;
  }
  .partners .partners-model .partners-model-right h1 {
    font-size: 3em;
  }
  .partners .partners-model .partners-model-right {
    grid-template-columns: auto;
  }
  .partners .partners-model .partners-model-right .partners-model-card {
    padding: 1em 0;
  }
}
@media screen and (max-width: 600px) {
  .partners .partners-brands .partners-brands-logo {
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .partners .partners-brands .partners-brands-logo {
    width: 100%;
  }
}

.about {
  display: flex;
  padding: 7.5em 1em 0;
  justify-content: space-around;
}
.about .about-left .about-profile {
  position: relative;
}
.about .about-left .about-profile img {
  width: 33.3em;
}
.about .about-left .about-profile .about-profile-text {
  position: relative;
  bottom: 14em;
  right: 3.5em;
  width: 23em;
  background-color: #beebff;
  padding: 2em 1.5em 3.4375em 1.5em;
}
.about .about-left .about-profile .about-profile-text .about-profile-text-heading {
  display: flex;
}
.about .about-left .about-profile .about-profile-text .about-profile-text-heading .about-profile-text-heading-black {
  color: #191919;
}
.about .about-right {
  width: 33.25em;
}
.about .about-right h1 {
  padding-bottom: 1em;
}
.about .about-right p {
  color: #a4a4a4;
}
.about .about-right .about-buttons {
  padding-top: 2.5em;
  display: flex;
  align-items: center;
}
.about .about-right .about-buttons .crito-button {
  margin-right: 2.4em;
}
.about .about-right .about-buttons .about-buttons-play {
  display: flex;
  align-items: center;
}
.about .about-right .about-buttons .about-buttons-play .crito-button-round {
  margin-right: 1em;
}
@media screen and (max-width: 1200px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
  }
  .about .about-left {
    padding-bottom: 2em;
  }
  .about .about-left .about-profile {
    position: absolute;
  }
  .about .about-right {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .about {
    padding: 5em 0;
  }
  .about .about-left .about-profile .about-profile-text {
    right: 0;
    width: 100%;
  }
  .about .about-left img {
    width: 100%;
    height: auto;
  }
  .about .about-right {
    padding: 0 2em;
  }
  .about .about-right .about-buttons {
    flex-direction: column;
    align-items: start;
  }
  .about .about-right .about-buttons .crito-button {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 400px) {
  .about {
    padding: 5em 0;
  }
  .about .about-left .about-profile {
    position: inherit;
  }
  .about .about-left .about-profile .about-profile-text {
    position: inherit;
  }
  .about .about-left .about-profile .about-profile-text .about-profile-text-heading {
    flex-direction: column;
  }
  .about .about-left img {
    width: 100%;
    height: auto;
  }
}

.services {
  background-color: #f0efe9;
  padding: 7.5em 0;
}
.services .services-container {
  padding: 0 1em;
}
.services .services-container h1 {
  padding-bottom: 1em;
}
.services .services-container .services-cards {
  display: grid;
  padding-bottom: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.875em;
}
.services .services-container .services-cards .services-card {
  cursor: pointer;
  padding: 3em 1.875em 2em;
  background-color: white;
}
.services .services-container .services-cards .services-card .services-small-line {
  height: 0.125em;
  width: 2em;
  background-color: #191919;
  margin-bottom: 1em;
}
.services .services-container .services-cards .services-card p {
  padding-bottom: 1.625em;
}
.services .services-container .services-cards .services-card .services-card-button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.services .services-container .services-cards .services-card:hover {
  background-color: #f9d783;
}
.services .services-container .services-cards .services-card:hover .crito-button-round {
  background-color: white;
  border: white;
}
.services .services-container .services-cards .services-card:hover .crito-button-round svg {
  color: #191919;
}
.services .services-container .services-button {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .services .services-container .services-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .services .services-container .services-cards {
    grid-template-columns: 1fr;
  }
}

.whyUs {
  overflow: hidden;
}
.whyUs .container {
  padding: 7.5em 1em;
  display: flex;
}
.whyUs .container .whyUs-left {
  width: 37%;
}
.whyUs .container .whyUs-left h1 {
  padding-bottom: 1em;
}
.whyUs .container .whyUs-left .whyUs-cards .whyUs-card {
  display: flex;
  align-items: center;
  padding-bottom: 2.625em;
}
.whyUs .container .whyUs-left .whyUs-cards .whyUs-card p {
  color: #a4a4a4;
}
.whyUs .container .whyUs-left .whyUs-cards .whyUs-card svg {
  margin-right: 2em;
  height: 2em;
  width: 2em;
  padding: 0.75em;
  border-radius: 50%;
  border: #dad9d3 solid 0.0625em;
}
.whyUs .container .whyUs-right {
  width: 63%;
  padding: 5em 0 0 5em;
}
.whyUs .container .whyUs-right img {
  max-width: 40.3125em;
  max-height: 31.5625em;
  z-index: 3;
  position: relative;
}
.whyUs .container .whyUs-right .whyUs-background-wrap {
  position: relative;
}
.whyUs .container .whyUs-right .whyUs-background-wrap .whyUs-background {
  position: absolute;
  z-index: 0;
  top: -22em;
  left: -5em;
  width: 66.0625em;
  height: 26.5625em;
  background-color: #f0efe9;
}
@media screen and (max-width: 1200px) {
  .whyUs .container {
    padding: 0 2em 7.5em;
    display: flex;
    flex-direction: column-reverse;
  }
  .whyUs .container .whyUs-left {
    width: 100%;
  }
  .whyUs .container .whyUs-left h1 {
    font-size: 3em;
  }
  .whyUs .container .whyUs-left .whyUs-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .whyUs .container .whyUs-left .whyUs-cards .whyUs-card {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 0.5em 2.625em;
  }
  .whyUs .container .whyUs-left .whyUs-cards .whyUs-card p {
    color: #a4a4a4;
  }
  .whyUs .container .whyUs-left .whyUs-cards .whyUs-card svg {
    margin-right: 2em;
    height: 2em;
    width: 2em;
    padding: 0.75em;
    border-radius: 50%;
    border: #dad9d3 solid 0.0625em;
  }
  .whyUs .container .whyUs-right {
    width: 100%;
    padding: 5em 0;
  }
  .whyUs .container .whyUs-right img {
    max-width: 100%;
    max-height: 100%;
  }
  .whyUs .container .whyUs-right .whyUs-background-wrap .whyUs-background {
    z-index: 0;
    top: -29em;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .whyUs .container .whyUs-left .whyUs-cards .whyUs-card {
    width: 100%;
    justify-content: center;
    padding: 0 0 2.625em 0;
  }
  .whyUs .container .whyUs-right .whyUs-background-wrap {
    display: none;
  }
}

.project {
  padding: 0 1em 5.75em 1em;
}
.project .project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 5em;
}
.project .project-cards {
  display: grid;
  grid-template: "auto auto";
  grid-gap: 1.875em;
}
.project .project-cards .project-card img {
  width: 100%;
  height: auto;
}
.project .project-cards .project-card h3 {
  border-bottom: #dad9d3 solid 0.0625em;
  margin-bottom: 1em;
}
.project .project-cards .project-card .project-read-more {
  display: flex;
  justify-content: end;
}
.project .project-cards .project-card .project-read-more a {
  text-decoration: none;
}
.project .project-cards .project-card .project-read-more a:hover {
  text-decoration: underline;
  text-shadow: 0.0625em 0 0 currentColor;
}
.project .project-cards .project-card .project-read-more svg {
  transform: rotate(-45deg);
}
.project .project-button {
  padding-top: 3.75em;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .project {
    padding: 0 2em 5.75em 2em;
  }
  .project .project-title {
    padding-bottom: 1em;
  }
  .project .project-cards {
    display: grid;
    grid-template: "auto ";
    grid-gap: 0;
  }
  .project .project-cards .project-card {
    padding-bottom: 1em;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a,
* p {
  font-family: "Inter", sans-serif;
  color: #191919;
  line-height: 1.625em;
  font-size: 1em;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "DM Sans", sans-serif;
  color: #191919;
}
* h1 {
  font-size: 2.8em;
  font-weight: 900;
}
* h3 {
  font-size: 1.375em;
  line-height: 2em;
}
* h5 {
  color: #f94d1c;
  font-size: 1.125em;
  padding-bottom: 1em;
}
@media screen and (max-width: 1200px) {
  * h1 {
    font-size: 3em;
  }
}

.container {
  margin: auto;
  max-width: 82.5em;
}

header {
  background-color: #f0efe9;
}
header .header-wrapper {
  display: flex;
  height: 7.5em;
  padding: 0 0.5em;
}
header .header-wrapper .header-logo {
  display: flex;
  width: 12.25em;
  height: 7em;
  justify-content: space-around;
  align-items: center;
}
header .header-wrapper .header-logo img {
  width: 8.6875em;
  height: 3.25em;
}
header .header-wrapper .header-info {
  width: 100%;
  padding-left: 2em;
}
header .header-wrapper .header-info .header-info-top {
  display: flex;
  justify-content: space-between;
  height: 3.125em;
  border-bottom: solid 0.125em #dad9d3;
  align-items: center;
}
header .header-wrapper .header-info .header-info-top img {
  height: 1em;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left {
  display: flex;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item {
  display: flex;
  align-items: center;
  padding: 0.2em 0.75em;
  border-right: solid 0.125em #dad9d3;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item svg {
  padding-right: 0.5em;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item:last-child {
  border-right: none;
}
header .header-wrapper .header-info .header-info-top .header-info-top-right {
  width: 7em;
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .header-info .header-info-top .header-info-top-right svg {
  cursor: pointer;
}
header .header-wrapper .header-info .header-info-top .header-info-top-right svg:hover {
  color: #a4a4a4;
}
header .header-wrapper .header-info .header-info-down {
  display: flex;
  justify-content: space-between;
  height: 4.375em;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5em;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a.selected::after {
  display: block;
  content: "";
  width: 1em;
  height: 0.125em;
  background: #191919;
  position: absolute;
  bottom: 0;
  left: calc(50% - 0.5em);
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a {
  text-decoration: none;
  color: #191919;
  position: relative;
  height: 1.5em;
  width: 5em;
  text-align: center;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a h2 {
  font-size: 1em;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a h2:hover {
  text-shadow: 0.0625em 0 0 currentColor;
}
header .header-wrapper .header-info .header-info-down .header-info-down-right {
  display: flex;
  align-items: end;
  height: 100%;
}
header .header-wrapper .header-info .header-info-down .header-info-down-right svg {
  height: 3em;
  width: 3em;
  display: none;
}
@media screen and (max-width: 1025px) {
  header .header-wrapper .header-info .header-info-top {
    display: none;
  }
  header .header-wrapper .header-info .header-info-down {
    height: 5.2em;
  }
  header .header-wrapper .header-info .header-info-down .header-info-down-left {
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 768px) {
  header .header-wrapper .header-info .header-info-top {
    display: none;
  }
  header .header-wrapper .header-info .header-info-down {
    justify-content: flex-end;
  }
  header .header-wrapper .header-info .header-info-down .header-info-down-right svg {
    display: block;
  }
  header .header-wrapper .header-info .header-info-down .header-info-down-right .crito-button {
    display: none;
  }
  header .header-wrapper .header-info .header-info-down .header-info-down-left {
    display: none;
  }
}

footer {
  min-height: 32em;
  background-color: #0e1021;
  display: flex;
  flex-direction: column;
}
footer svg,
footer h3,
footer a,
footer p {
  color: #dad9d3;
}
footer .footer-links-container {
  padding: 0 1em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr auto;
  grid-gap: 2em;
}
footer .footer-links-container .footer-content {
  display: flex;
  flex-direction: column;
}
footer .footer-links-container .footer-content:last-child {
  padding-right: 0em;
}
footer .footer-links-container .footer-content h3 {
  padding-bottom: 1.5em;
}
footer .footer-links-container .footer-content a {
  line-height: 2.5em;
  text-decoration: none;
  font-weight: 500;
}
footer .footer-links-container .footer-content a:hover {
  text-decoration: underline;
}
footer .copy-right {
  height: 5em;
  border-top: #a4a4a4 0.0625em solid;
  padding: 0 1em;
}
footer .copy-right .copy-right-items {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copy-right .copy-right-items svg {
  padding-right: 1em;
  cursor: pointer;
}
footer .copy-right .copy-right-items svg:last-child {
  padding-right: 0em;
}
footer .copy-right .copy-right-items svg:hover {
  color: #f9d783;
}
@media screen and (max-width: 1200px) {
  footer .footer-links-container {
    grid-template-columns: auto;
    margin: 114px 1em;
    grid-template-areas: "maintext maintext" "company  help" "resources  link";
  }
  footer .footer-links-container .footer-maintext {
    grid-area: maintext;
  }
  footer .footer-links-container .footer-links-company {
    grid-area: company;
  }
  footer .footer-links-container .footer-links-help {
    grid-area: help;
  }
  footer .footer-links-container .footer-links-resources {
    grid-area: resources;
  }
  footer .footer-links-container .footer-links-link {
    grid-area: link;
  }
}
@media screen and (max-width: 768px) {
  footer .copy-right {
    height: 8em;
    padding: 2em 1em;
    text-align: center;
  }
  footer .copy-right .copy-right-items {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  footer .footer-links-container {
    grid-template-areas: "maintext" "company" "help" "resources" "link";
  }
  footer .footer-links-container .footer-maintext {
    grid-area: maintext;
  }
  footer .footer-links-container .footer-links-company {
    grid-area: company;
  }
  footer .footer-links-container .footer-links-help {
    grid-area: help;
  }
  footer .footer-links-container .footer-links-resources {
    grid-area: resources;
  }
  footer .footer-links-container .footer-links-link {
    grid-area: link;
  }
  footer .footer-links-container .footer-content h3 {
    padding-bottom: 1em;
  }
  footer .copy-right {
    height: auto;
  }
  footer .copy-right p {
    padding-bottom: 1em;
  }
}

.crito-button {
  cursor: pointer;
  justify-content: center;
  background-color: #f9d783;
  border: none;
  border-radius: 5em;
  font-size: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: 600;
  display: flex;
  border: 0.025em solid #f9d783;
}
.crito-button .crito-button-symbol {
  padding-left: 0.5em;
}
.crito-button .crito-button-symbol svg {
  height: 0.95em;
  width: 0.95em;
  transform: rotate(-45deg);
}
.crito-button:hover {
  background-color: #191919;
  color: #f9d783;
  border: 0.025em solid #f9d783;
}
.crito-button.crito-button-wide {
  width: 100%;
}
.crito-button.crito-button-blanc {
  background-color: #f0efe9;
  border: 0.025em solid #191919;
}
.crito-button.crito-button-blanc:hover {
  background-color: #191919;
  color: #f0efe9;
}
.crito-button.crito-button-black {
  background-color: #191919;
  color: white;
}
.crito-button.crito-button-black:hover {
  border: 0.025em solid #191919;
  background-color: white;
  color: #191919;
}

.crito-button-round {
  cursor: pointer;
  border-radius: 50%;
  height: 3.6em;
  width: 3.6em;
  background-color: white;
}
.crito-button-round svg {
  height: 0.95em;
  width: 0.95em;
}
.crito-button-round:hover {
  background-color: #191919;
}
.crito-button-round:hover svg {
  color: white;
}
.crito-button-round.crito-button-round-black {
  background-color: #191919;
}
.crito-button-round.crito-button-round-black svg {
  color: white;
}