.showcase {
  background-color: #f0efe9;
  height: 48.75em;
}
.showcase .showcase-container {
  display: flex;
}
.showcase .showcase-container .showcase-left {
  padding: 7.5em 2em 0 1em;
}
.showcase .showcase-container .showcase-left h1 {
  font-size: 6em;
  font-weight: bold;
}
.showcase .showcase-container .showcase-left p {
  font-size: 1.25em;
  padding-bottom: 3.2em;
}
.showcase .showcase-container .showcase-left .showcase-buttons {
  display: flex;
}
.showcase .showcase-container .showcase-left .showcase-buttons button {
  margin-right: 1em;
}
.showcase .showcase-container .showcase-left .showcase-swirl {
  position: relative;
}
.showcase .showcase-container .showcase-left .showcase-swirl img {
  position: absolute;
  right: 2em;
  top: -7.6em;
}
.showcase .showcase-container .showcase-right {
  position: relative;
  width: 78em;
}
.showcase .showcase-container .showcase-right img {
  position: absolute;
  top: 3.4em;
  left: -5em;
}

.partners {
  min-height: 106em;
}
.partners .partners-brands {
  padding: 4.5em 0 5em 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a,
* p {
  font-family: "Inter", sans-serif;
  color: #191919;
  line-height: 1.625em;
  font-size: 1em;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "DM Sans", sans-serif;
  color: #191919;
}
* h3 {
  font-size: 1.375em;
  line-height: 2em;
}

.container {
  margin: auto;
  max-width: 82.5em;
}

.large-container {
  margin: auto;
  max-width: 95em;
}

header {
  background-color: #f0efe9;
}
header .header-wrapper {
  display: flex;
  height: 7.5em;
  padding: 0 0.5em;
}
header .header-wrapper .header-logo {
  display: flex;
  width: 12.25em;
  height: 7em;
  justify-content: space-around;
  align-items: center;
}
header .header-wrapper .header-logo img {
  width: 8.6875em;
  height: 3.25em;
}
header .header-wrapper .header-info {
  width: 100%;
  padding-left: 2em;
}
header .header-wrapper .header-info .header-info-top {
  display: flex;
  justify-content: space-between;
  height: 3.125em;
  border-bottom: solid 0.125em #dad9d3;
  align-items: center;
}
header .header-wrapper .header-info .header-info-top img {
  height: 1em;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left {
  display: flex;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item {
  display: flex;
  align-items: center;
  padding: 0.2em 0.75em;
  border-right: solid 0.125em #dad9d3;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item svg {
  padding-right: 0.5em;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
header .header-wrapper .header-info .header-info-top .header-info-top-left .header-info-top-item:last-child {
  border-right: none;
}
header .header-wrapper .header-info .header-info-top .header-info-top-right {
  width: 7em;
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .header-info .header-info-top .header-info-top-right svg {
  cursor: pointer;
}
header .header-wrapper .header-info .header-info-top .header-info-top-right svg:hover {
  color: #a4a4a4;
}
header .header-wrapper .header-info .header-info-down {
  display: flex;
  justify-content: space-between;
  height: 4.375em;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5em;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a.selected::after {
  display: block;
  content: "";
  width: 1em;
  height: 0.125em;
  background: #191919;
  position: absolute;
  bottom: 0;
  left: calc(50% - 0.5em);
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a {
  text-decoration: none;
  color: #191919;
  position: relative;
  height: 1.5em;
  width: 5em;
  text-align: center;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a h2 {
  font-size: 1em;
}
header .header-wrapper .header-info .header-info-down .header-info-down-left a h2:hover {
  text-shadow: 0.0625em 0 0 currentColor;
}
header .header-wrapper .header-info .header-info-down .header-info-down-right {
  display: flex;
  align-items: end;
  height: 100%;
}
footer {
  height: 32em;
  background-color: #0e1021;
  display: flex;
  flex-direction: column;
}
footer svg,
footer h3,
footer a,
footer p {
  color: #dad9d3;
}
footer .footer-links-container {
  padding: 0 1em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr auto;
  grid-gap: 2em;
}
footer .footer-links-container .footer-content {
  display: flex;
  flex-direction: column;
}
footer .footer-links-container .footer-content:last-child {
  padding-right: 0em;
}
footer .footer-links-container .footer-content h3 {
  padding-bottom: 1.5em;
}
footer .footer-links-container .footer-content a {
  line-height: 2.5em;
  text-decoration: none;
  font-weight: 500;
}
footer .footer-links-container .footer-content a:hover {
  text-decoration: underline;
}
footer .copy-right {
  height: 5em;
  border-top: #a4a4a4 0.0625em solid;
  padding: 0 1em;
}
footer .copy-right .copy-right-items {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copy-right .copy-right-items svg {
  padding-right: 1em;
  cursor: pointer;
}
footer .copy-right .copy-right-items svg:last-child {
  padding-right: 0em;
}
footer .copy-right .copy-right-items svg:hover {
  color: #f9d783;
}

.crito-button {
  background-color: #f9d783;
  border: none;
  border-radius: 5em;
  font-size: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: 600;
  display: flex;
}
.crito-button .crito-button-symbol {
  padding-left: 0.5em;
}
.crito-button .crito-button-symbol svg {
  height: 0.95em;
  width: 0.95em;
  transform: rotate(-45deg);
}
.crito-button:hover {
  background-color: #191919;
  color: #f9d783;
}

.crito-button-blanc {
  background-color: #f0efe9;
  border: none;
  border-radius: 5em;
  font-size: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: 600;
  display: flex;
  border: 0.025em solid #191919;
}
.crito-button-blanc .crito-button-symbol {
  padding-left: 0.5em;
}
.crito-button-blanc .crito-button-symbol svg {
  height: 0.95em;
  width: 0.95em;
  transform: rotate(-45deg);
}
.crito-button-blanc:hover {
  background-color: #191919;
  color: #f0efe9;
}