@import "./pages/home";
//@import "./pages/newDetails";
//@import "./pages/news";
@import "./pages/contact";

$beige: #f0efe9;
$yellow: #f9d783;
$lightGrey: #dad9d3;
$darkGrey: #a4a4a4;
$blackish: #191919;
$lightBlue: #beebff;
$darkBlue: #0e1021;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a,
  p {
    font-family: "Inter", sans-serif;
    color: $blackish;
    line-height: 1.625em;
    font-size: 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "DM Sans", sans-serif;
    color: $blackish;
  }
  h3 {
    font-size: 1.375em;
    line-height: 2em;
  }
}

.container {
  margin: auto;
  max-width: 82.5em;
}
.large-container {
  margin: auto;
  max-width: 95em;
}

// Header
header {
  background-color: $beige;
  .header-wrapper {
    display: flex;
    height: 7.5em;
    padding: 0 0.5em;
    .header-logo {
      display: flex;
      width: 12.25em;
      height: 7em;
      justify-content: space-around;
      align-items: center;
      img {
        width: 8.6875em;
        height: 3.25em;
      }
    }
    .header-info {
      width: 100%;
      padding-left: 2em;
      .header-info-top {
        display: flex;
        justify-content: space-between;
        height: 3.125em;
        border-bottom: solid 0.125em $lightGrey;
        align-items: center;
        img {
          height: 1em;
        }

        .header-info-top-left {
          display: flex;
          .header-info-top-item {
            display: flex;
            align-items: center;
            padding: 0.2em 0.75em;
            border-right: solid 0.125em $lightGrey;
            svg {
              padding-right: 0.5em;
            }
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
        .header-info-top-right {
          width: 7em;
          display: flex;
          justify-content: space-between;
          svg {
            cursor: pointer;
            &:hover {
              color: $darkGrey;
            }
          }
        }
      }
      .header-info-down {
        display: flex;
        justify-content: space-between;
        height: 4.375em;

        .header-info-down-left {
          display: flex;
          align-items: flex-end;
          padding-bottom: 0.5em;
          a.selected::after {
            display: block;
            content: "";
            width: 1em;
            height: 0.125em;
            background: $blackish;
            position: absolute;
            bottom: 0;
            left: calc(50% - 0.5em);
          }
          a {
            text-decoration: none;
            color: $blackish;
            position: relative;
            height: 1.5em;
            width: 5em;
            text-align: center;
            h2 {
              font-size: 1em;
              &:hover {
                text-shadow: 0.0625em 0 0 currentColor;
              }
            }
          }
        }
        .header-info-down-right {
          display: flex;
          align-items: end;
          height: 100%;
        }
      }
    }
  }

  @media (min-width: 768px) {
  }
}

// Footer
footer {
  height: 32em;
  background-color: $darkBlue;
  display: flex;
  flex-direction: column;

  svg,
  h3,
  a,
  p {
    color: $lightGrey;
  }
  .footer-links-container {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr auto;
    grid-gap: 2em;

    .footer-content {
      display: flex;
      flex-direction: column;
      &:last-child {
        padding-right: 0em;
      }
      h3 {
        padding-bottom: 1.5em;
      }
      a {
        line-height: 2.5em;
        text-decoration: none;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .copy-right {
    height: 5em;
    border-top: $darkGrey 0.0625em solid;
    padding: 0 1em;
    .copy-right-items {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        padding-right: 1em;
        cursor: pointer;
        &:last-child {
          padding-right: 0em;
        }
        &:hover {
          color: #f9d783;
        }
      }
    }
  }
}

// Buttons
.crito-button {
  background-color: $yellow;
  border: none;
  border-radius: 5em;
  font-size: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: 600;
  display: flex;
  .crito-button-symbol {
    padding-left: 0.5em;

    svg {
      height: 0.95em;
      width: 0.95em;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    background-color: $blackish;
    color: $yellow;
  }
}
.crito-button-blanc {
  background-color: $beige;
  border: none;
  border-radius: 5em;
  font-size: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: 600;
  display: flex;
  border: 0.025em solid $blackish;
  .crito-button-symbol {
    padding-left: 0.5em;

    svg {
      height: 0.95em;
      width: 0.95em;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    background-color: $blackish;
    color: $beige;
  }
}
