@import "./pages/home";
@import "./pages/service";
@import "./pages/news";
@import "./pages/contact";
@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a,
  p,
  textarea {
    font-family: "Inter", sans-serif;
    color: $blackish;
    line-height: 1.625em;
    font-size: 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "DM Sans", sans-serif;
    color: $blackish;
  }
  h1 {
    font-size: 2.8em;
    font-weight: 900;
  }
  h3 {
    font-size: 1.375em;
    line-height: 2em;
  }
  h5 {
    color: $orange;
    font-size: 1.125em;
    padding-bottom: 1em;
  }
  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 3em !important;
    }
  }

  @media screen and (max-width: 400px) {
    h1 {
      font-size: 2em !important;
    }
  }
}

.container {
  margin: auto;
  max-width: 82.5em;
}

// Header
header {
  background-color: $beige;
  .header-wrapper {
    display: flex;
    height: 7.5em;
    padding: 0 0.5em;
    .header-logo {
      display: flex;
      width: 12.25em;
      height: 7em;
      justify-content: space-around;
      align-items: center;
      img {
        width: 8.6875em;
        height: 3.25em;
      }
    }
    .header-info {
      width: 100%;
      padding-left: 2em;
      .header-info-top {
        display: flex;
        justify-content: space-between;
        height: 3.125em;
        border-bottom: solid 0.125em $lightGrey;
        align-items: center;
        img {
          height: 1em;
        }

        .header-info-top-left {
          display: flex;
          .header-info-top-item {
            display: flex;
            align-items: center;
            padding: 0.2em 0.75em;
            border-right: solid 0.125em $lightGrey;
            svg {
              padding-right: 0.5em;
            }
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
        .header-info-top-right {
          width: 7em;
          display: flex;
          justify-content: space-between;
          svg {
            cursor: pointer;
            &:hover {
              color: $darkGrey;
            }
          }
        }
      }
      .header-info-down {
        display: flex;
        justify-content: space-between;
        height: 4.375em;

        .header-info-down-left {
          display: flex;
          align-items: flex-end;
          padding-bottom: 0.5em;
          a.selected::after {
            display: block;
            content: "";
            width: 1em;
            height: 0.125em;
            background: $blackish;
            position: absolute;
            bottom: 0;
            left: calc(50% - 0.5em);
          }
          a {
            text-decoration: none;
            color: $blackish;
            position: relative;
            height: 1.5em;
            width: 5em;
            text-align: center;
            h2 {
              font-size: 1em;
              &:hover {
                text-shadow: 0.0625em 0 0 currentColor;
              }
            }
          }
        }
        .header-info-down-right {
          display: flex;
          align-items: end;
          height: 100%;
          svg {
            height: 3em;
            width: 3em;
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1025px) {
    .header-wrapper .header-info {
      .header-info-top {
        display: none;
      }
      .header-info-down {
        height: 5.2em;
        .header-info-down-left {
          padding-bottom: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .header-wrapper .header-info {
      .header-info-top {
        display: none;
      }
      .header-info-down {
        justify-content: flex-end;
        .header-info-down-right {
          svg {
            display: block;
          }
          .crito-button {
            display: none;
          }
        }
        .header-info-down-left {
          display: none;
        }
      }
    }
  }
}

// Footer
.footer-swirl {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 120em;
  img {
    position: absolute;
    top: -11em;
    right: 0;
  }
  @media screen and (max-width: 768px) {
    img {
      top: -14em;
    }
  }
  @media screen and (max-width: 500px) {
    img {
      top: -15.5em;
    }
  }
  @media screen and (max-width: 320px) {
    img {
      display: none;
    }
  }
}

footer {
  min-height: 32em;
  background-color: $darkBlue;
  display: flex;
  flex-direction: column;
  svg,
  h3,
  a,
  p {
    color: $lightGrey;
  }
  .footer-links-container {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr auto;
    grid-gap: 2em;

    .footer-content {
      display: flex;
      flex-direction: column;
      &:last-child {
        padding-right: 0em;
      }
      h3 {
        padding-bottom: 1.5em;
      }
      a {
        line-height: 2.5em;
        text-decoration: none;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copy-right {
    height: 5em;
    border-top: $darkGrey 0.0625em solid;
    padding: 0 1em;
    overflow-x: hidden;
    .copy-right-items {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        padding-right: 1em;
        cursor: pointer;
        &:last-child {
          padding-right: 0em;
        }
        &:hover {
          color: #f9d783;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .footer-links-container {
      grid-template-columns: auto;
      margin: 114px 1em;
      grid-template-areas:
        "maintext maintext"
        "company  help"
        "resources  link";
      .footer-maintext {
        grid-area: maintext;
      }
      .footer-links-company {
        grid-area: company;
      }
      .footer-links-help {
        grid-area: help;
      }
      .footer-links-resources {
        grid-area: resources;
      }
      .footer-links-link {
        grid-area: link;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .copy-right {
      height: 8em;
      padding: 2em 1em;
      text-align: center;
      .copy-right-items {
        flex-direction: column;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .footer-links-container {
      grid-template-areas:
        "maintext"
        "company"
        "help"
        "resources"
        "link";
      .footer-maintext {
        grid-area: maintext;
      }
      .footer-links-company {
        grid-area: company;
      }
      .footer-links-help {
        grid-area: help;
      }
      .footer-links-resources {
        grid-area: resources;
      }
      .footer-links-link {
        grid-area: link;
      }
      .footer-content h3 {
        padding-bottom: 1em;
      }
    }
    .copy-right {
      height: auto;
      p {
        padding-bottom: 1em;
      }
    }
  }
}

// Buttons
.crito-button {
  cursor: pointer;

  justify-content: center;
  background-color: $yellow;
  border: none;
  border-radius: 5em;
  font-size: 1em;
  padding: 0.9em 2em 0.9em 2em;
  font-weight: 600;
  display: flex;
  border: 0.025em solid $yellow;
  .crito-button-symbol {
    padding-left: 0.5em;

    svg {
      height: 0.95em;
      width: 0.95em;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    background-color: $blackish;
    color: $yellow;
    border: 0.025em solid $yellow;
  }

  &.crito-button-wide {
    width: 100%;
  }
  &.crito-button-blanc {
    background-color: $beige;
    border: 0.025em solid $blackish;
    &:hover {
      background-color: $blackish;
      color: $beige;
    }
  }
  &.crito-button-yellow {
    background-color: $yellow;
    border: 0.025em solid $blackish;
    &:hover {
      background-color: $blackish;
      color: $yellow;
    }
  }
  &.crito-button-black {
    background-color: $blackish;
    color: white;
    &:hover {
      border: 0.025em solid $blackish;
      background-color: white;
      color: $blackish;
    }
  }
  &.crito-button-white {
    color: $blackish;
    background-color: white;
    border: 0.025em solid $blackish;
    &:hover {
      color: white;
      background-color: $blackish;
    }
  }
}

.crito-button-round {
  cursor: pointer;
  border-radius: 50%;
  height: 3.6em;
  width: 3.6em;
  background-color: white;
  svg {
    height: 0.95em;
    width: 0.95em;
  }
  &:hover {
    background-color: $blackish;
    svg {
      color: white;
    }
  }
  &.crito-button-round-black {
    background-color: $blackish;
    svg {
      color: white;
    }
  }
}

// Dots
.carusel-dots {
  display: flex;
  justify-content: center;
  .carusel-dot {
    height: 0.75em;
    width: 0.75em;
    margin: 0 0.45em;
    border-radius: 50%;
    background-color: $darkGrey;
    cursor: pointer;
    &.selected-dot {
      background-color: $blackish;
    }
    &:hover {
      border: 0.25em $orange solid;
    }
  }
}
