@import "../colors";

// Showcase
.showcase {
  background-color: $beige;
  height: 48.75em;
  overflow: hidden;
  .showcase-container {
    display: flex;
    .showcase-left {
      padding: 7.5em 2em 0 1em;
      h1 {
        font-size: 6em;
        font-weight: bold;
      }
      p {
        font-size: 1.25em;
        padding-bottom: 3.2em;
      }
      .showcase-buttons {
        display: flex;

        button {
          margin-right: 1em;
        }
      }
      .showcase-swirl {
        position: relative;
        pointer-events: none;

        img {
          position: absolute;
          right: 2em;
          top: -7.6em;
        }
      }
    }
    .showcase-right {
      position: relative;
      width: 78em;
      img {
        position: absolute;
        top: 3.4em;
        left: -5em;
      }
    }
  }
  @media screen and (max-width: 1250px) {
    .showcase-container .showcase-left {
      padding: 4.5em 2em 0 1em;
      h1 {
        position: relative;
        z-index: 1;
      }
      .showcase-swirl img {
        right: -32em;
        top: -27.6em;
      }

      p {
        padding-bottom: 1em;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    & {
      height: 40em;
    }
    .showcase-container {
      height: 100%;
      .showcase-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2em 0 2em;

        h1 {
          font-size: 4em;
          text-align: center;
        }
        p {
          position: relative;
          z-index: 3;
          text-align: center;
        }
        .showcase-buttons {
          display: flex;
          justify-content: center;
          button {
            margin-right: 1em;
          }
        }
        .showcase-swirl {
          position: relative;

          img {
            right: -12em;
            top: -23.6em;
          }
        }
      }
      .showcase-right {
        display: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .showcase-container .showcase-left {
      .showcase-buttons {
        flex-direction: column;
        position: relative;
        z-index: 1;
        .crito-button {
          margin-bottom: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .showcase-container .showcase-left {
      .showcase-buttons {
        flex-direction: column;
        position: relative;
        z-index: 1;
        .crito-button {
          margin-bottom: 1em;
        }
      }
    }
  }
}

// Partners
.partners {
  .partners-brands {
    padding: 4.5em 0 5em 0;
    display: flex;
    justify-content: space-evenly;
  }
  .partners-model {
    display: flex;
    margin: auto;
    padding: 5em 6.25em 7em;
    max-width: 95em;
    border: $lightGrey solid 0.0625em;
    .partners-model-left {
      max-width: 28.75em;
      h1 {
        padding-bottom: 1em;
      }
    }
    .partners-model-right {
      display: grid;
      grid-template-columns: auto auto;
      margin-left: 6em;
      .partners-model-card {
        padding: 2.5em 1.875em;
        svg {
          height: 2.5em;
          width: 2.5em;
          padding-bottom: 1.5em;
        }

        p {
          color: $darkGrey;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .partners-brands {
      flex-wrap: wrap;
      width: 100%;
      .partners-brands-logo {
        width: 33%;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .partners-model {
      flex-direction: column;
      align-items: center;
      .partners-model-left {
        max-width: 100%;
        padding-bottom: 3em;
      }
      .partners-model-right {
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .partners-model {
      padding: 2em;
      .partners-model-right {
        h1 {
          font-size: 3em;
        }
      }
      .partners-model-right {
        grid-template-columns: auto;
        .partners-model-card {
          padding: 1em 0;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .partners-brands .partners-brands-logo {
      width: 50%;
    }
  }
  @media screen and (max-width: 450px) {
    .partners-brands .partners-brands-logo {
      width: 100%;
    }
  }
}

// About
.about {
  display: flex;
  padding: 7.5em 1em 0;
  justify-content: space-around;
  .about-left {
    .about-profile {
      position: relative;

      img {
        width: 33.3em;
      }
      .about-profile-text {
        position: relative;
        bottom: 14em;
        right: 3.5em;
        width: 23em;
        background-color: $lightBlue;
        padding: 2em 1.5em 3.4375em 1.5em;
        .about-profile-text-heading {
          display: flex;
          .about-profile-text-heading-black {
            color: $blackish;
          }
        }
      }
    }
  }
  .about-right {
    width: 33.25em;
    h1 {
      padding-bottom: 1em;
    }
    p {
      color: $darkGrey;
    }
    .about-buttons {
      padding-top: 2.5em;
      display: flex;
      align-items: center;
      .crito-button {
        margin-right: 2.4em;
      }
      .about-buttons-play {
        display: flex;
        align-items: center;
        .crito-button-round {
          margin-right: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    .about-left {
      padding-bottom: 2em;
      .about-profile {
        position: absolute;
      }
    }
    .about-right {
      width: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 5em 0;
    .about-left {
      .about-profile {
        .about-profile-text {
          right: 0;
          width: 100%;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .about-right {
      padding: 0 2em;
      .about-buttons {
        flex-direction: column;
        align-items: start;
        .crito-button {
          margin-bottom: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    padding: 5em 0;
    .about-left {
      .about-profile {
        position: inherit;
        .about-profile-text {
          position: inherit;
          .about-profile-text-heading {
            flex-direction: column;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Services
.services {
  background-color: $beige;
  padding: 7.5em 0;
  .services-container {
    padding: 0 1em;
    h1 {
      padding-bottom: 1em;
    }

    .services-cards {
      display: grid;
      padding-bottom: 3em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1.875em;

      .services-card {
        cursor: pointer;
        padding: 3em 1.875em 2em;
        background-color: white;
        .services-small-line {
          height: 0.125em;
          width: 2em;
          background-color: $blackish;
          margin-bottom: 1em;
        }
        p {
          padding-bottom: 1.625em;
        }
        .services-card-button {
          display: flex;
          justify-content: end;

          width: 100%;
        }
        &:hover {
          background-color: $yellow;
          .crito-button-round {
            background-color: white;
            border: white;
            svg {
              color: $blackish;
            }
          }
        }
      }
    }
    .services-button {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      z-index: 11;
      position: relative;
    }
  }
  @media screen and (max-width: 1000px) {
    .services-container {
      .services-cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .services-container {
      .services-cards {
        grid-template-columns: 1fr;
      }
    }
  }
}
.service-swirl {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 120em;
  img {
    position: absolute;
    top: -2.5em;
    right: 0;
    width: 34em;
    pointer-events: none;
    z-index: 0;
  }
}

// Why Us
.whyUs {
  overflow: hidden;
  .container {
    padding: 7.5em 1em;
    display: flex;
    .whyUs-left {
      width: 37%;
      h1 {
        padding-bottom: 1em;
      }
      .whyUs-cards {
        .whyUs-card {
          display: flex;
          align-items: center;
          padding-bottom: 2.625em;
          p {
            color: $darkGrey;
          }
          svg {
            margin-right: 2em;
            height: 2em;
            width: 2em;
            padding: 0.75em;
            border-radius: 50%;
            border: $lightGrey solid 0.0625em;
          }
        }
      }
    }
    .whyUs-right {
      width: 63%;
      padding: 5em 0 0 5em;
      img {
        max-width: 40.3125em;
        max-height: 31.5625em;
        z-index: 3;
        position: relative;
      }
      .whyUs-background-wrap {
        position: relative;
        .whyUs-background {
          position: absolute;
          z-index: 0;
          top: -22em;
          left: -5em;
          width: 66.0625em;
          height: 26.5625em;
          background-color: $beige;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      padding: 0 2em 7.5em;
      display: flex;
      flex-direction: column-reverse;
      .whyUs-left {
        width: 100%;
        h1 {
          font-size: 3em;
        }
        .whyUs-cards {
          display: flex;
          flex-wrap: wrap;
          .whyUs-card {
            width: 50%;
            display: flex;
            align-items: center;
            padding: 0 0.5em 2.625em;
            p {
              color: $darkGrey;
            }
            svg {
              margin-right: 2em;
              height: 2em;
              width: 2em;
              padding: 0.75em;
              border-radius: 50%;
              border: $lightGrey solid 0.0625em;
            }
          }
        }
      }
      .whyUs-right {
        width: 100%;
        padding: 5em 0;
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .whyUs-background-wrap {
          .whyUs-background {
            z-index: 0;
            top: -29em;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .container {
      .whyUs-left {
        .whyUs-cards {
          .whyUs-card {
            width: 100%;
            justify-content: center;
            padding: 0 0 2.625em 0;
          }
        }
      }
      .whyUs-right {
        .whyUs-background-wrap {
          display: none;
        }
      }
    }
  }
}

// Project
.project {
  padding: 0 1em 5.75em 1em;
  .project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5em;
  }
  .project-cards {
    display: grid;
    grid-template: "auto auto";
    grid-gap: 1.875em;
    .project-card {
      img {
        width: 100%;
        height: auto;
      }
      h3 {
        border-bottom: $lightGrey solid 0.0625em;
        margin-bottom: 1em;
      }
      .project-read-more {
        display: flex;
        justify-content: end;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-shadow: 0.0625em 0 0 currentColor;
          }
        }
        svg {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .project-button {
    padding-top: 3.75em;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 1200px) {
    h3 {
      min-height: 4em;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 0 2em 5.75em 2em;
    .project-title {
      padding-bottom: 1em;
    }
    .project-cards {
      display: grid;
      grid-template: "auto ";
      grid-gap: 0;
      .project-card {
        padding-bottom: 1em;
      }
    }
  }
}

// Team
.team {
  background-color: #f9d783;
  .team-container {
    padding: 10em 1em 0;
    .team-title {
      padding-bottom: 4em;
      display: flex;
      justify-content: space-between;
      .team-title-button {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .team-cards {
      display: flex;
      padding-bottom: 3.125em;
      .team-card {
        width: 25%;
        margin: 0 0.75em 0 0.75em;
        justify-content: space-around;
        cursor: pointer;

        img {
          width: 100%;
          margin: auto;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .carusel-dots {
      display: flex;
      justify-content: center;
      .carusel-dot {
        height: 0.75em;
        width: 0.75em;
        margin: 0 0.45em;
        border-radius: 50%;
        background-color: $darkGrey;
        cursor: pointer;
        &.selected-dot {
          background-color: $blackish;
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .team-container {
      padding: 10em 1em 0;
      .team-title {
        padding-bottom: 4em;
        display: flex;
        flex-direction: column;
        .team-title-button {
          padding-top: 1em;
          display: flex;
          flex-direction: column-reverse;
        }
      }
      .team-cards {
        flex-wrap: wrap;
        padding-bottom: 3.125em;
        justify-content: center;
        .team-card {
          width: 45%;
          margin: 0 0.75em 1em 0.75em;
          justify-content: space-around;
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .team-container {
      padding: 6em 2em 0;
      .team-cards {
        flex-wrap: wrap;

        .team-card {
          width: 45%;
          margin: 0 0.25em 1em 0.25em;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .team-container {
      .team-cards {
        .team-card {
          width: 45%;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .team-container {
      .team-cards {
        display: none;
      }
      .carusel-dots {
        display: none;
      }
    }
  }
}

// Testimonial
.testimonial {
  background-color: $yellow;
  padding: 3em 1em 7.5em;
  .testimonial-container {
    background-color: white;
    padding: 6.5em 6.25em 6.5em 6.25em;
    .testimonial-title {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 5.5em;
    }
    .testimonial-cards {
      display: flex;
      justify-content: space-between;
      .testimonial-card {
        width: 30%;
        .testimonial-score {
          padding-bottom: 1em;
          color: $orange;
        }
        .testimonial-statement {
          padding-bottom: 2em;
        }
        .testimonial-client {
          display: flex;
          align-items: center;
          .testimonial-portrait {
            padding-right: 1em;
          }
          h3 {
            line-height: inherit;
            padding-bottom: 0.2em;
          }
          h5 {
            padding-bottom: 0em;
          }
        }
      }
    }
    .carusel-dots {
      display: none;
    }
    .testimonial-button {
      display: flex;
      justify-content: center;
      padding-top: 2em;
    }
  }
  @media screen and (max-width: 1000px) {
    .testimonial-container {
      .testimonial-title {
        align-items: start;
        padding-bottom: 2em;
      }
      .testimonial-cards {
        display: flex;
        justify-content: space-between;
        .testimonial-card {
          width: 100%;
        }
        .testimonial-card {
          display: none;
        }
        .testimonial-card-1 {
          display: block;
          padding-bottom: 2em;
        }
      }
      .carusel-dots {
        display: flex;
      }
    }
  }
  @media screen and (max-width: 700px) {
    padding: 3em 1em 3em;
    .testimonial-container {
      padding: 5em 2em 5em 2em;
    }
  }
}

// News
.news {
  padding: 7.5em 0 5.6em;
  .news-container {
    padding: 0 1em;
    .news-title {
      padding-bottom: 2em;
      display: flex;
      justify-content: space-between;
      .news-title-button {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .news-buttons-container {
      display: none;
    }
    .news-cards {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4em;

      .news-card {
        width: 31%;
        position: relative;
        .news-img {
          width: 100%;
          height: auto;
          padding-bottom: 1.5em;
        }
        .news-date {
          background-color: $yellow;
          position: absolute;
          top: 1em;
          left: 1em;
          padding: 1em 1em 0.5em;
          h3 {
            line-height: 1em;
          }
        }
        .news-text {
          .news-category {
            padding-bottom: 1em;
          }
          h3 {
            padding-bottom: 0.75em;
            line-height: 1.5em;
          }
        }
        &:hover {
          cursor: pointer;
          .news-text {
            .news-category {
              text-decoration: underline;
            }
            h3 {
              text-decoration: underline;
            }
          }
          .news-img {
            opacity: 0.5;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .news-container {
      padding: 0 1em;
      .news-title {
        flex-direction: column;
        .news-title-button {
          display: flex;
          flex-direction: column-reverse;
          padding-top: 1em;
        }
      }
      .news-cards {
        .news-card {
          width: 31%;
          position: relative;
          .news-img {
            width: 100%;
            height: auto;
            padding-bottom: 1.5em;
          }
          .news-date {
            display: flex;
            background-color: $yellow;
            position: relative;
            top: 0;
            left: 0;
            padding: 1em 1em 0.5em;
            h3 {
              line-height: 1em;
              padding-right: 0.25em;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .news-container {
      .news-buttons-container {
        position: relative;
        display: block;
        .news-buttons {
          position: absolute;
          display: flex;
          z-index: 5;
          width: 100%;
          padding: 0 0.5em;
          top: 9em;
          justify-content: space-between;
        }
      }
      .news-cards {
        .news-card-2,
        .news-card-3 {
          display: none;
        }
        .news-card {
          width: 100%;
          position: relative;
        }
      }
    }
  }
}

// News Update
.news-update {
  background-color: $lightGrey;
  padding: 6.25em 0;
  .news-update-container {
    z-index: 2;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    .news-update-mail {
      display: flex;
      align-items: center;
      input {
        font-size: 1em;
        padding: 0.9em 2em 0.9em 2em;
        border-radius: 2em;
        margin-right: 1em;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .news-update-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .news-update-title {
        padding-bottom: 1em;
        text-align: center;
      }
      .news-update-mail {
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .news-update-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .news-update-title {
        padding-bottom: 1em;
        text-align: center;
      }
      .news-update-mail {
        justify-content: center;
        flex-direction: column;
        input {
          height: 4.25em;
          margin-bottom: 0.5em;
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
}
.news-update-swirl {
  position: relative;
  width: 100%;
  margin: 0 auto;
  img {
    position: absolute;
    top: -2.5em;
    right: 0;
    pointer-events: none;
    z-index: 0;
  }
  @media screen and (max-width: 1600px) {
    img {
      top: 0;
    }
  }
  @media screen and (max-width: 500px) {
    img {
      top: 2em;
    }
  }
}
