$beige: #f0efe9;
$yellow: #f9d783;
$lightGrey: #dad9d3;
$darkGrey: #a4a4a4;
$blackish: #191919;
$lightBlue: #beebff;
$darkBlue: #0e1021;
$orange: #f94d1c;

// Showcase
.showcase {
  background-color: $beige;
  height: 48.75em;
  .showcase-container {
    display: flex;
    .showcase-left {
      padding: 7.5em 2em 0 1em;
      h1 {
        font-size: 6em;
        font-weight: bold;
      }
      p {
        font-size: 1.25em;
        padding-bottom: 3.2em;
      }
      .showcase-buttons {
        display: flex;
        button {
          margin-right: 1em;
        }
      }
      .showcase-swirl {
        position: relative;
        img {
          position: absolute;
          right: 2em;
          top: -7.6em;
        }
      }
    }
    .showcase-right {
      position: relative;
      width: 78em;
      img {
        position: absolute;
        top: 3.4em;
        left: -5em;
      }
    }
  }
}

// Partners
.partners {
  .partners-brands {
    padding: 4.5em 0 5em 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .partners-model {
    display: flex;
    margin: auto;
    padding: 5em 6.25em 7em;
    max-width: 95em;
    border: $lightGrey solid 0.0625em;
    .partners-model-left {
      max-width: 28.75em;
      h5 {
        color: $orange;
        font-size: 1.125em;
        padding-bottom: 1em;
      }
      h1 {
        font-size: 2.8em;
        font-weight: 900;
        padding-bottom: 1em;
      }
    }
    .partners-model-right {
      display: grid;
      grid-template-columns: auto auto;
      margin-left: 6em;
      .partners-model-card {
        padding: 2.5em 1.875em;
        svg {
          height: 2.5em;
          width: 2.5em;
          padding-bottom: 1.5em;
        }
        h3 {
          font-size: 1.375em;
        }
        p {
          color: $darkGrey;
        }
      }
    }
  }
}
