$beige: #f0efe9;
$yellow: #f9d783;
$lightGrey: #dad9d3;
$darkGrey: #a4a4a4;
$blackish: #191919;
$lightBlue: #beebff;
$darkBlue: #0e1021;
$orange: #f94d1c;

// Showcase
.showcase {
  background-color: $beige;
  height: 48.75em;
  overflow: hidden;
  .showcase-container {
    display: flex;
    .showcase-left {
      padding: 7.5em 2em 0 1em;
      h1 {
        font-size: 6em;
        font-weight: bold;
      }
      p {
        font-size: 1.25em;
        padding-bottom: 3.2em;
      }
      .showcase-buttons {
        display: flex;
        button {
          margin-right: 1em;
        }
      }
      .showcase-swirl {
        position: relative;
        pointer-events: none;

        img {
          position: absolute;
          right: 2em;
          top: -7.6em;
        }
      }
    }
    .showcase-right {
      position: relative;
      width: 78em;
      img {
        position: absolute;
        top: 3.4em;
        left: -5em;
      }
    }
  }
  @media screen and (max-width: 1250px) {
    .showcase-container .showcase-left {
      padding: 4.5em 2em 0 1em;
      h1 {
        position: relative;
        z-index: 1;
      }
      .showcase-swirl img {
        right: -32em;
        top: -27.6em;
      }

      p {
        padding-bottom: 1em;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    & {
      height: 40em;
    }
    .showcase-container {
      height: 100%;
      .showcase-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2em 0 2em;

        h1 {
          font-size: 4em;
          text-align: center;
        }
        p {
          position: relative;
          z-index: 3;
          text-align: center;
        }
        .showcase-buttons {
          display: flex;
          justify-content: center;
          button {
            margin-right: 1em;
          }
        }
        .showcase-swirl {
          position: relative;

          img {
            right: -12em;
            top: -23.6em;
          }
        }
      }
      .showcase-right {
        display: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .showcase-container .showcase-left {
      .showcase-buttons {
        flex-direction: column;
        position: relative;
        z-index: 1;
        .crito-button {
          margin-bottom: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .showcase-container .showcase-left {
      .showcase-buttons {
        flex-direction: column;
        position: relative;
        z-index: 1;
        .crito-button {
          margin-bottom: 1em;
        }
      }
    }
  }
}

// Partners
.partners {
  .partners-brands {
    padding: 4.5em 0 5em 0;
    display: flex;
    justify-content: space-evenly;
  }
  .partners-model {
    display: flex;
    margin: auto;
    padding: 5em 6.25em 7em;
    max-width: 95em;
    border: $lightGrey solid 0.0625em;
    .partners-model-left {
      max-width: 28.75em;
      h1 {
        padding-bottom: 1em;
      }
    }
    .partners-model-right {
      display: grid;
      grid-template-columns: auto auto;
      margin-left: 6em;
      .partners-model-card {
        padding: 2.5em 1.875em;
        svg {
          height: 2.5em;
          width: 2.5em;
          padding-bottom: 1.5em;
        }

        p {
          color: $darkGrey;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .partners-brands {
      flex-wrap: wrap;
      .partners-brands-logo {
        width: 33%;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .partners-model {
      flex-direction: column;
      align-items: center;
      .partners-model-left {
        max-width: 100%;
        padding-bottom: 3em;
      }
      .partners-model-right {
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .partners-model {
      padding: 2em;
      .partners-model-right {
        h1 {
          font-size: 3em;
        }
      }
      .partners-model-right {
        grid-template-columns: auto;
        .partners-model-card {
          padding: 1em 0;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .partners-brands .partners-brands-logo {
      width: 50%;
    }
  }
  @media screen and (max-width: 450px) {
    .partners-brands .partners-brands-logo {
      width: 100%;
    }
  }
}

// About
.about {
  display: flex;
  padding: 7.5em 1em 0;
  justify-content: space-around;
  .about-left {
    .about-profile {
      position: relative;

      img {
        width: 33.3em;
      }
      .about-profile-text {
        position: relative;
        bottom: 14em;
        right: 3.5em;
        width: 23em;
        background-color: $lightBlue;
        padding: 2em 1.5em 3.4375em 1.5em;
        .about-profile-text-heading {
          display: flex;
          .about-profile-text-heading-black {
            color: $blackish;
          }
        }
      }
    }
  }
  .about-right {
    width: 33.25em;
    h1 {
      padding-bottom: 1em;
    }
    p {
      color: $darkGrey;
    }
    .about-buttons {
      padding-top: 2.5em;
      display: flex;
      align-items: center;
      .crito-button {
        margin-right: 2.4em;
      }
      .about-buttons-play {
        display: flex;
        align-items: center;
        .crito-button-round {
          margin-right: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    .about-left {
      padding-bottom: 2em;
      .about-profile {
        position: absolute;
      }
    }
    .about-right {
      width: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 5em 0;
    .about-left {
      .about-profile {
        .about-profile-text {
          right: 0;
          width: 100%;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .about-right {
      padding: 0 2em;
      .about-buttons {
        flex-direction: column;
        align-items: start;
        .crito-button {
          margin-bottom: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    padding: 5em 0;
    .about-left {
      .about-profile {
        position: inherit;
        .about-profile-text {
          position: inherit;
          .about-profile-text-heading {
            flex-direction: column;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Services
.services {
  background-color: $beige;
  padding: 7.5em 0;
  .services-container {
    padding: 0 1em;
    h1 {
      padding-bottom: 1em;
    }

    .services-cards {
      display: grid;
      padding-bottom: 3em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1.875em;

      .services-card {
        cursor: pointer;
        padding: 3em 1.875em 2em;
        background-color: white;
        .services-small-line {
          height: 0.125em;
          width: 2em;
          background-color: $blackish;
          margin-bottom: 1em;
        }
        p {
          padding-bottom: 1.625em;
        }
        .services-card-button {
          display: flex;
          justify-content: end;
          width: 100%;
        }
        &:hover {
          background-color: $yellow;
          .crito-button-round {
            background-color: white;
            border: white;
            svg {
              color: $blackish;
            }
          }
        }
      }
    }
    .services-button {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width: 1000px) {
    .services-container {
      .services-cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .services-container {
      .services-cards {
        grid-template-columns: 1fr;
      }
    }
  }
}

// Why Us
.whyUs {
  overflow: hidden;
  .container {
    padding: 7.5em 1em;
    display: flex;
    .whyUs-left {
      width: 37%;
      h1 {
        padding-bottom: 1em;
      }
      .whyUs-cards {
        .whyUs-card {
          display: flex;
          align-items: center;
          padding-bottom: 2.625em;
          p {
            color: $darkGrey;
          }
          svg {
            margin-right: 2em;
            height: 2em;
            width: 2em;
            padding: 0.75em;
            border-radius: 50%;
            border: $lightGrey solid 0.0625em;
          }
        }
      }
    }
    .whyUs-right {
      width: 63%;
      padding: 5em 0 0 5em;
      img {
        max-width: 40.3125em;
        max-height: 31.5625em;
        z-index: 3;
        position: relative;
      }
      .whyUs-background-wrap {
        position: relative;
        .whyUs-background {
          position: absolute;
          z-index: 0;
          top: -22em;
          left: -5em;
          width: 66.0625em;
          height: 26.5625em;
          background-color: $beige;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      padding: 0 2em 7.5em;
      display: flex;
      flex-direction: column-reverse;
      .whyUs-left {
        width: 100%;
        h1 {
          font-size: 3em;
        }
        .whyUs-cards {
          display: flex;
          flex-wrap: wrap;
          .whyUs-card {
            width: 50%;
            display: flex;
            align-items: center;
            padding: 0 0.5em 2.625em;
            p {
              color: $darkGrey;
            }
            svg {
              margin-right: 2em;
              height: 2em;
              width: 2em;
              padding: 0.75em;
              border-radius: 50%;
              border: $lightGrey solid 0.0625em;
            }
          }
        }
      }
      .whyUs-right {
        width: 100%;
        padding: 5em 0;
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .whyUs-background-wrap {
          .whyUs-background {
            z-index: 0;
            top: -29em;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .container {
      .whyUs-left {
        .whyUs-cards {
          .whyUs-card {
            width: 100%;
            justify-content: center;
            padding: 0 0 2.625em 0;
          }
        }
      }
      .whyUs-right {
        .whyUs-background-wrap {
          display: none;
        }
      }
    }
  }
}

// Project
.project {
  padding: 0 1em 5.75em 1em;
  .project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5em;
  }
  .project-cards {
    display: grid;
    grid-template: "auto auto";
    grid-gap: 1.875em;
    .project-card {
      img {
        width: 100%;
        height: auto;
      }
      h3 {
        border-bottom: $lightGrey solid 0.0625em;
        margin-bottom: 1em;
      }
      .project-read-more {
        display: flex;
        justify-content: end;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-shadow: 0.0625em 0 0 currentColor;
          }
        }
        svg {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .project-button {
    padding-top: 3.75em;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 700px) {
    padding: 0 2em 5.75em 2em;
    .project-title {
      padding-bottom: 1em;
    }
    .project-cards {
      display: grid;
      grid-template: "auto ";
      grid-gap: 0;
      .project-card {
        padding-bottom: 1em;
      }
    }
  }
}
